<?xml version="1.0"?>

<configuration>
  <system.serviceModel>
    <client>
      <endpoint address="http://localhost:1337/AdministrationService/" binding="clearUsernameBinding"
                bindingConfiguration="myClearUsernameBinding" contract="ServiceReference1.IAdministrationService"
                name="ClearUsernameBinding_IAdministrationService" />
    </client>
    <extensions>
      <bindingExtensions>
        <add name="clearUsernameBinding"
             type="WebServices20.BindingExtenions.ClearUsernameCollectionElement, ClearUsernameBinding" />
      </bindingExtensions>
    </extensions>
    <bindings>
      <clearUsernameBinding>
        <binding name="myClearUsernameBinding" messageVersion="Soap12">

        </binding>
      </clearUsernameBinding>
    </bindings>
  </system.serviceModel>
</configuration>