<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="HomeDirectory" value="C:\inetpub" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IAdministration" />
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:1337/Administration" binding="wsHttpBinding"
        bindingConfiguration="WSHttpBinding_IAdministration" contract="ServiceReference1.IAdministration"
        name="WSHttpBinding_IAdministration">
        <identity>
          <userPrincipalName value="ONLINE25\André" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>