<?xml version="1.0"?>

<configuration>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>

  <appSettings>
    <add key="EndpointUri" value="http://localhost:1337/AdministrationService/" />
    <add key="HomeDirectory" value="C:\inetpub" />
    <add key="ReverseFqdnInNames" value="true"/>
    <add key="ServiceName" value="fnHostAdminSvc" />
    <add key="ServiceDisplayName" value="Fastname Host Administration Service" />
    <add key="ServiceDescription" value="The service enables an easy remote administration of IIS through a web service layer." />
  </appSettings>

  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="IISAdminBehaviour">
          <serviceDebug httpHelpPageEnabled="true" includeExceptionDetailInFaults="true" />
          <serviceMetadata httpGetEnabled="true" />
          <serviceCredentials>
            <userNameAuthentication userNamePasswordValidationMode="Custom"
                                    customUserNamePasswordValidatorType="IisAdmin.Validators.CustomUsernamePasswordValidator, IisAdmin" />
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="IISAdminBehaviour" name="IisAdmin.AdministrationService">
        <endpoint binding="clearUsernameBinding" bindingConfiguration="myClearUsernameBinding"
                  contract="IisAdmin.Interfaces.IAdministrationService" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:1337/AdministrationService/" />
          </baseAddresses>
        </host>
      </service>
    </services>

    <extensions>
      <bindingExtensions>
        <add name="clearUsernameBinding"
             type="WebServices20.BindingExtenions.ClearUsernameCollectionElement, ClearUsernameBinding" />
      </bindingExtensions>
    </extensions>

    <bindings>
      <clearUsernameBinding>
        <binding name="myClearUsernameBinding" messageVersion="Soap12"></binding>
      </clearUsernameBinding>
    </bindings>
  </system.serviceModel>

</configuration>